.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .posterImage__title {
        font-size: 3rem;
    }

    .posterImage__runtime {
        font-size: 1.5rem;
    }

    .posterImage__rating {
        margin-left: 2rem;
    }

    .posterImage__description {
        font-size: 0.9rem;
         /* Keep the same styles as before */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Limit the number of lines to 5 */
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 420px) {
    .posterImage__title {
        font-size: 1rem;
    }

    .posterImage__runtime {
        font-size: 1.0rem;
    }

    .posterImage__rating {
        margin-left: 1.5rem;
    }

    .posterImage__description {
        font-size: 0.9rem;
         /* Keep the same styles as before */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limit the number of lines to 5 */
        -webkit-box-orient: vertical;
    }
}